

.ft-page {
    background-position: center center;
    background-size: cover;
}

.page-1 {
    background-image: url(https://images.unsplash.com/photo-1469614369149-4f0c1468c331?auto=format&fit=crop&w=1920&q=80);
}
.page-2 {
    background-image: url(https://trmthong.github.io/img/beauty_1678010026440.JPEG);
}
.page-3 {
    background-image: url(https://trmthong.github.io/img/beauty_1678010026440.JPEG);
}
.page-4 {
    background-image: url(https://trmthong.github.io/img/beauty_1678010026440.JPEG);
}
