

.ft-page {
    background-position: center center;
    background-size: cover;
}

.page-1 {
    background-image: url(https://trmthong.github.io/img/beauty_1678010026440.JPEG);
}
.page-2 {
    background-image: url(https://trmthong.github.io/img/beauty_1678010026440.JPEG);
}
.page-3 {
    background-image: url(https://trmthong.github.io/img/beauty_1678010026440.JPEG);
}
.page-4 {
    background-image: url(https://trmthong.github.io/img/beauty_1678010026440.JPEG);
}
