

.ft-page {
    background-position: center center;
    background-size: cover;
}

.page-1 {
    background-image: <img src="beauty_1678010026440.jpeg">;
}
.page-2 {
    background-image: <img src="beauty_1678010026440.jpeg">;
}
.page-3 {
    background-image: <img src="beauty_1678010026440.jpeg">;
}
.page-4 {
    background-image: <img src="beauty_1678010026440.jpeg">;
}
